{% include 'top.html.twig'%}
<h3> Add a new store </h3>
<form action="/addstore" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" id="name" name="name" type="text" required>
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input class="form-control" id="city" name="city" type="text" required>
  </div>
  <button type="submit"> Add</button>
</form>

{% include 'bottom.html.twig'%}
