{% include 'top.html.twig'%}
  <div class="row hometop">
    <h1>Kick Back</h1>
    <p>The shoe tracker so easy to use that you can kick back and relax</p>
  </div>
  <div class="row">
    <a href="seestores">
    <div id="allStore" class="col-md-6">
      <h3 class="hometext">See Stores</h3>
    </div>
    </a>
    <a href="seebrands">
    <div id="allBrands" class="col-md-6">
      <h3 class="hometext"> See Brands</h3>
    </div>
    </a>
  </div>
  <div class="row">
    <a href="addstore">
    <div id="addStore" class="col-md-6">
      <h3 class="hometext"> Add Stores</h3>
    </div>
    </a>
    <a href="addbrand">
    <div id="addBrand" class="col-md-6">
        <h3 class="hometext"> Add Brands</h3>
    </div>
    </a>
  </div>




{% include 'bottom.html.twig'%}
