{% include 'top.html.twig'%}
  <h1>Kick Back</h1>
  <p>The shoe tracker so easy to use that you can kick back and relax<p>

  <h3> See <a href="seestores">Stores</a></p>
  <h3> See <a href="seebrands">Brands</a></p>
  <h3> Add <a href="addstore">Stores</a></p>
  <h3> Add <a href="addbrand">Brands</a></p>
{% include 'bottom.html.twig'%}
