{% include 'top.html.twig' %}
  {% if stores is not empty%}
  <h2> All Stores </h2>
    {% for store in stores %}
    <ul>
      <li><a href="/store{{ store.getId }}">{{ store.getName}}</a> {{ store.getCity }}</li>
    </ul>
    {% endfor %}
  {% else %}
    <h2> There are no stores in your system please add stores and try again </h2>
  {% endif %}
{% include 'bottom.html.twig' %}
