{% include "top.html.twig" %}
  <div class="delete">
    <h1> This page will permenatly delete all data from data base!</h1>
    <h2> Are you sure you wish to continue? </h2>
    <div class="row">
      <form action="index.html" method="post">
        <button id="gohome" type="submit" name="danger">No I want to go home</button>
      </form>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <form action="/deleteStores" method="post">
          <button class="danger" type="submit">Delete All Stores</button>
        </form>
        </div>
        <div class="col-lg-6">
        <form action="/deleteBrands" method="post">
          <button class="danger" type="submit">Delete All Brands</button>
        </form>
      </div>
    </div>
  </div>
{% include "bottom.html.twig" %}
