<!DOCTYPE html>
<html>
  <head>
    <script src="../scripts/jquery-3.2.0.js"></script>
    <script src="../scripts/bootstrap.js"></script>
    <script src="../scripts/scripts.js"></script>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../css/styles.css" type="text/css" rel="stylesheet">
    <title>Kick Back</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Kick Back</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/seestores">Stores</a></li>
          <li><a href="/seebrands">Brands</a></li>
          <li><a href="/addstore">Add Store</a></li>
          <li><a href="/addbrand">Add Brand</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
