#allStore{
  text-align: center;
  background-image: url("../img/store_front.png");
  background-size: cover;
  background-repeat: no-repeat;
  height:350px;
}
#allBrands{
  text-align: center;
  background-image: url("../img/seebrands.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:350px;
}
#addStore{
  text-align: center;
  background-image: url("../img/storefinder.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:350px;
}
#addBrand{
  text-align: center;
  background-image: url("../img/newShoes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:350px;
}
.hometext{
  text-decoration: none;
  margin-top: 20%;
  color: white;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 4px 2px black;

}
.hometop{
  background-color: blue;
  color: white;
  padding: 50px 20px;
}
.kickback{
  background-color: blue;
  color:white;
  height:250px;
  margin-right: 50px;
  float:right;
  border-radius: 10px;
}
.addstore{
  background-image: url("../img/kickback.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}
.input{
  margin-top: 70px;
  margin-left: 20px;
}
.place{
  background-image: url("../img/toomanychoices.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 50%;
  float:right;
}
.wall{
  background-image: url("../img/shoewall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 55%;
  float:right;
}
.seestores{
  background-image: url("../img/background1.jpg");
  background-size: cover;
  height:700px;
  background-repeat: no-repeat;
}
.storetext{
  text-align: left;
  width: 500px;
  color: white;
  margin: 10px;
}
.storetext li a{
  text-decoration: underline;
  color:white;
}
.storetext li{
  text-decoration: none;
  font-size: 25px;
}
.seebrands{
  background-image: url("../img/background2.jpg");
  background-size: cover;
  height:700px;
  background-repeat: no-repeat;
}
.brandtext{
  text-align: left;
  width: 500px;
  color: white;
  margin: 10px;
}
.brandtext li a{
  text-decoration: underline;
  color:white;
}
.brandtext li{
  text-decoration: none;
  font-size: 25px;
}
.delete{
  text-align: center;
  background-image: url("../img/magic.jpg");
  height:900px;
  color:white;
  text-shadow: 4px 2px black;
}
.delete button{
  margin-top: 20px;
  font-size: 20px;
  color:red;
}
.delete h1{
  padding-top: 40px;
}
#gohome{
  color:blue;
}
